#mySelect {
  font-family: "Josefin Sans", sans-serif;
}

.sidebar-container {
  position: static;
}

.sidebar-button {
  min-width: 13vw;
  min-height: 6vh;
  font-size: 1vw;
  display: block;
  padding: 1.5vh;
  text-align: center;
  background-color: #1d1b31;
  color: #e2e2e2;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1vh;
  margin-top: 1vh;
  margin-left: 0.5vw;
  transition: background-color 0.4s, color 0.4s, box-shadow 0.4s;
  font-family: "Josefin Sans", sans-serif;
  box-shadow: 0 0 9px #07070d;
}

.sidebar-button:hover {
  background-color: #e2e2e2;
  color: #21262d;
  box-shadow: 0 0 7px #e2e2e2;
}

.sidebar-button:focus {
  outline: none;
}

.sidebar-background {
  position: absolute;
  min-width: 14vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #11101d;
  opacity: 0.95;
  font-family: "Josefin Sans", sans-serif;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 1;
}

.sidebar.open .sidebar-background {
  transform: translateX(0);
}

.sidebar.closed .sidebar-background {
  transform: translateX(-100%);
}

.sidebar-header {
  color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: end;
  margin-top: 4vh;
  font-size: 1.5vw;
  text-shadow: 0 0 5px #23222d;
  margin-bottom: 5vh;
}

.sidebar.open .sidebar-button {
  transition-delay: 0.1s;
}

.logo {
  width: 80%;
  max-width: 150px;
}

.select-container {
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.custom-select {
  min-width: 13vw;
  min-height: 6vh;
  font-size: 1vw;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: #1e1f29;
  color: #e2e2e2;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s, box-shadow 0.4s;
  font-family: "Josefin Sans", sans-serif;
  box-shadow: 0 0 9px #07070d;
  padding-left: 1vw;
}

.custom-select:hover {
  background-color: #e2e2e2;
  transition: background-color 0.4s, color 0.4s, box-shadow 0.4s;
  color: #21262d;
  box-shadow: 0 0 7px #e2e2e2;
}

.custom-select:focus {
  outline: #07070d;
}

hr.rounded {
  border-top: 0.05vh solid #e2e2e2;
  border-radius: 15px;
  width: 4vw;
  margin: 3vh auto;
}
